<script>
    if (window.Pwd == undefined) {
        Tools.Namespace.register("window.Pwd");
    }
    //if (window.Pwd.ChangePwdView == undefined) {
    //    window.Pwd.ChangePwdView = Backbone.View.extend({
    //        events: {
    //            "change #newPwdRpt": "pwdRpt",
    //            "click a":"submit"
    //        },
    //    });
    //}

    if (window.Pwd.Toolbar == undefined) {
        window.Pwd.Toolbar = Backbone.View.extend({
            events: {
                "click a": "clickBtn"
            },
            clickBtn: function (e) {
                switch ($(e.currentTarget).attr("data-action")) {
                    case "save":
                        var changePwd = Tools.serializeObject($("#changePwdView"));
                        if (changePwd.newPwd != changePwd.newPwdRpt) {
                            alert("两次输入密码不一致");
                            return;
                        }
                        console.info(changePwd);
                        $.post("/Admin/DoChangePassword",
                            changePwd,
                            function (rst) {
                                if (rst.ResultStatus != 1) {
                                    alert(rst.ResultMessage);
                                }
                                else {
                                    alert("修改成功");
                                    $("#oldPwd").val("");
                                    $("#newPwd").val("");
                                    $("#newPwdRpt").val("");
                                }

                            }
                            );
                        break;
                }
            }
        });
    }
</script>
<script>
    //var changePwdView;
    var toolbar;
    $(function () {
        toolbar = new window.Pwd.Toolbar({
            el:"#toolbar"
        });
    })
</script>
<div class="container">
    <form id="changePwdView" role="form" class="form-horizontal" action="/User/ChangePassword">
        <input type="hidden" name="ID" value="@ViewBag.UserID"/>
        <div class="form-group">
            <label for="oldPwd" class="col-sm-2 control-label">旧密码</label>
            <div class="col-sm-10">
                <input id="oldPwd" type="password" name="oldPwd" class="form-control" required />
            </div>

        </div>
        <div class="form-group">
            <label for="newPwd" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-10">
                <input id="newPwd" type="password" name="newPwd" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="newPwdRpt" class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-10">
                <input id="newPwdRpt" type="password" name="newPwdRpt" class="form-control" required />
            </div>
        </div>
    </form>
</div>
<ul id="toolbar" class="nav nav-pills navbar-fixed-bottom nav-justified" role="tablist">
    <li role="presentation"><a class="btn btn-default" data-action="save"><span class="glyphicon glyphicon-floppy-save"></span>保存</a></li>
</ul>
