<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                @ViewBag.Report.ReportName
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-list-alt"></span></th>
                        <th>colmn2&nbsp;<span class="glyphicon glyphicon-sort"></span></th>
                        <th>colmn1&nbsp;<span class="glyphicon glyphicon-sort-by-alphabet"></span></th>
                        <th>colmn1</th>
                        <th>colmn1</th>
                        <th>colmn1</th>
                        <th>colmn1</th>
                        <th>colmn1</th>
                        <th>colmn1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>页合计</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                    </tr>
                    <tr>
                        <td>总合计</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                        <td>colmn1</td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <center>
        <ul class="pagination">
            <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>
    </center>
    
</div>