@Scripts.Render("~/bundles/datetimepickerJs")
@Styles.Render("~/bundles/datetimepickerCss")
@Styles.Render("~/bundles/less")

<script type="text/template" id="tempQueryCondition">
    <% for(var i=0;i<=data.length-1;i++){%>
        <% if(data[i].ParamType==0 || data[i].ParamType==1) {%>
            <% if(data[i].ParamInputType==0) {%>
                <div class="form-group">
                    <label class="sr-only" for="<%=data[i].ParamCode%>"><%=data[i].ParamName==''?data[i].ParamCode:data[i].ParamName%></label>
                    <input id="<%=data[i].ParamCode%>" data-paramtype="<%=data[i].ParamType%>" data-paraminputtype="<%=data[i].ParamInputType%>" class="form-control" name="<%=data[i].ParamCode%>" type="text" placeholder="输入<%=data[i].ParamName==''? data[i].ParamCode:data[i].ParamName%>" />
                </div>
            <%} else if(data[i].ParamInputType==1) {%>
                <div class="form-group">
                    <label class="sr-only" for="<%=data[i].ParamCode%>"><%=data[i].ParamName%></label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            请选择<%=data[i].ParamName==""?data[i].ParamCode:data[i].ParamName%> <span class="caret"></span>
                        </button>
                        <input type="hidden" name="<%=data[i].ParamCode%>" id="<%=data[i].ParamCode%>" />
                        <ul class="dropdown-menu" role="menu">
                            <% for(var j=0;j<=data[i].ParamItems.length-1;j++) {%>
                                <li><a data-paramitemvalue="<%=data[i].ParamItems[j].OptionValue%>" data-paramcode="<%=data[i].ParamItems[j].ParamCode%>" href="#do"><%=data[i].ParamItems[j].OptionName%></a></li>
                            <%}%>
                        </ul>
                    </div>
                </div>
                <%}%>
        <%} else if(data[i].ParamType==2) {%>
            <div class="form-group">
                <label for="<%=data[i].ParamCode%>" class="sr-only "><%=data[i].ParamName%></label>
                <input type="hidden" id="<%=data[i].ParamCode%>" value="" />
                <div class="input-group date form_datetime" data-link-field="<%=data[i].ParamCode%>">
                    <input class="form-control" size="18" placeholder="输入<%=data[i].ParamName==''?data[i].ParamCode:data[i].ParamName%>" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
            </div>
        <%}%>
    <%}%>
</script>

<script type="text/template" id="tempQueryHeader">
    <% for(var i=0 ;i<=data.length-1;i++) {%>
        <%if(data[i].Sortabled){%>
            <th data-index="<%=i%>" style="cursor:pointer">
                <% if(data[i].SortValue==0){%>
                    <span class="glyphicon glyphicon-sort"><span class="text-primary"><%=data[i].ColumnName==""?data[i].ColumnCode:data[i].ColumnName%></span></span>
                <%} else if(data[i].SortValue==1){%>
                    <% if(data[i].ColumnType==0) {%>
                        <span class="glyphicon glyphicon-sort-by-alphabet"><span class="text-primary"><%=data[i].ColumnName==""?data[i].ColumnCode:data[i].ColumnName%></span></span>
                    <%} else if(data[i].ColumnType==1){%>
                        <span class="glyphicon glyphicon-sort-by-order"><span class="text-primary"><%=data[i].ColumnName==""?data[i].ColumnCode:data[i].ColumnName%></span></span>
                    <%} else if(data[i].ColumnType==2){%>
                        <span class="glyphicon glyphicon-sort-by-attributes"><span class="text-primary"><%=data[i].ColumnName==""?data[i].ColumnCode:data[i].ColumnName%></span></span>
                    <%}%>

                <%} else if(data[i].SortValue==2){%>
                    <% if(data[i].ColumnType==0) {%>
                         <span class="glyphicon glyphicon-sort-by-alphabet-alt"><span class="text-primary"><%=data[i].ColumnName==""?data[i].ColumnCode:data[i].ColumnName%></span></span>
                    <%} else if(data[i].ColumnType==1){%>
                        <span class="glyphicon glyphicon-sort-by-order-alt"><span class="text-primary"><%=data[i].ColumnName==""?data[i].ColumnCode:data[i].ColumnName%></span></span>
                    <%} else if(data[i].ColumnType==2){%>
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"><span class="text-primary"><%=data[i].ColumnName==""?data[i].ColumnCode:data[i].ColumnName%></span></span>
                    <%}%>
                <%}%>
            </th>
        <%} else {%>
            <th data-index="<%=i%>" style="cursor:pointer"><span class="text-primary"><%=data[i].ColumnName==""?data[i].ColumnCode:data[i].ColumnName%></span></th>
        <% }%>
    <%}%>
</script>

<script type="text/template" id="tempQueryResult">
    <tr>
        <td>1</td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
    </tr>
</script>

<script type="text/template" id="tempQuerySum">
    <tr>
        <td>页合计</td>
        <td></td>
        <td></td>
        <td></td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
    </tr>
    <tr>
        <td>总合计</td>
        <td></td>
        <td></td>
        <td></td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
        <td>colmn1</td>
    </tr>
</script>

<script type="text/javascript">
    if (window.Report.Report == undefined) {
        window.Report.Report = Backbone.Model.extend({
            defaults: {
                "ID": null,
                "DBID": null,
                "ReportName": "",
                "Remark": "",
                "Columns": [],
                "Params": [],
                "PageSumabled": false,
                "AllSumabled": false,
                "Pagingabled": false,
                "PageSize": 10
            },
            idAttribute: "ID",
            urlRoot: "/api/Report"
        });
    }
    if (window.Report.QueryConditionView == undefined) {
        window.Report.QueryConditionView = Backbone.View.extend({
            template: _.template($("#tempQueryCondition").html()),
            render: function () {
                this.$el.html(this.template({ data: report.get("Params") }));
            }
        });
    }
    if (window.Report.QueryHeaderView == undefined) {
        window.Report.QueryHeaderView = Backbone.View.extend({
            template: _.template($("#tempQueryHeader").html()),
            render: function () {
                this.$el.html(this.template({ data: report.get("Columns") }));
            }
        });
    }

    if (window.Report.QueryResultView == undefined) {
        window.Report.QueryResultView = Backbone.View.extend({
            template: _.template($("queryResult").html()),
            render: function () {

            }
        });
    }
</script>

<script type="text/javascript">
    var report;
    var queryConditionView;
    var queryHeaderView;
    $(function () {
        report = new window.Report.Report();
        queryConditionView = new window.Report.QueryConditionView({
            el: "#queryCondition",
        });
        queryHeaderView = new window.Report.QueryHeaderView({
            el: "#queryHeader"
        });
        report.fetch({
            data: {
                id:"@ViewBag.ReportID",
                forQuery:true
            },
            success: function (model, rst) {
                $("#queryTitle").html(rst.ReportName);
                queryConditionView.render();
                queryHeaderView.render();
                $(".form_datetime").datetimepicker({
                    format: "yyyy-MM-dd hh:ii",
                    autoclose: true,
                    todayBtn: true,
                    todayHighlight: true,
                    language: "zh-CN"
                });
            },
            error: function () {
                alert("获取报表信息失败");
            }
        });
       
    })
</script>

<div class="container">
    <h2 class="text-info" id="queryTitle"></h2>
    <hr />
    <div class="row">
        <form class="form-inline" role="form" id="queryCondition" />
    </div>
    <center>
        <ul class="pagination" id="queryPager">
            <li><a href="#prePage"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li><a href="#goHome"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#nextPage"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>
    </center>
    <div class="row" style="overflow-x:auto">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr id="queryHeader" style="position:relative" />
            </thead>
            <tbody id="queryResult" />
            <tfoot id="querySum" />
        </table>
    </div>
    <center>
        <ul class="pagination" id="queryPager">
            <li><a href="#prePage"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li><a href="#goHome"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#nextPage"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>
    </center>
</div>


<div class="navbar navbar-fixed-bottom">
    <div class="navbar-header">
        <div class="btn-group btn-group-lg btn-group-justified" id="toolbar">
            <a class="btn btn-default" data-action="refresh"><span class="glyphicon glyphicon-search"></span>查询</a>
        </div>
    </div>
</div> 