@{
    ViewBag.Title = "Signin";
}
<div class="container">
    <form role="form" class="form-signin">
        <h2 class="form-signin-heading"><span class="glyphicon glyphicon-user"></span>请登录</h2>
        <input class="form-control" type="text" autofocus="autofocus" autocomplete="on" required="required" placeholder="输入用户编码">
        <input class="form-control" type="password" autofocus="autofocus" required="required" placeholder="输入密码">
        <label class="checkbox">
            <input type="checkbox" value="remember-me">记住密码
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">&nbsp;登&nbsp;录&nbsp;</button>
    </form>
</div>
