<script id="tempDbListView" type="text/template">
    <%for ( var i=0;i<data.length;i++ ){%>
        <tr>
            <td><%=data[i].DbCode%></td>
            <td><%=data[i].DbType==0?"MsSql":"Oracle"%></td>
            <td><%=data[i].Remark%></td>
            <td>
                <a class="btn btn-default" data-action="del" data-id="<%=i%>"><span class="glyphicon glyphicon-trash"></span></a>
                <a class="btn btn-default" data-action="edit" data-id="<%=i%>"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    <%}%>
</script>

<script id="tempDbEditView" type="text/template">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">数据源编辑</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="<%=action%>_form">
                    <div class="form-group">
                        <label for="<%=action%>_DbCode">编码</label>
                        <input id="<%=action%>_DbCode" type="text" class="form-control" name="DbCode" value="<%=data.DbCode%>" placeholder="输入编码" autofocus="autofocus" required="required" />
                    </div>
                    <div class="form-group">
                        <label>数据库类型</label>
                    </div>
                    <%if(data.DbType==0){%>
                    <div class="btn-group" data-toggle="buttons">
                        <label id="DbType_MsSql" class="btn btn-info active">
                            <input name="DbType" type="radio" value="0">&nbsp;&nbsp;MsSql&nbsp;&nbsp;
                        </label>
                        <label id="isAdmin_f"class="btn btn-info">
                            <input name="DbType" type="radio" value="1">&nbsp;&nbsp;Oracle&nbsp;&nbsp;
                        </label>
                    </div>
                    <%} else {%>
                    <div class="btn-group" data-toggle="buttons">
                        <label id="DbType_MsSql" class="btn btn-info">
                            <input name="DbType" type="radio" value="0">&nbsp;&nbsp;MsSql&nbsp;&nbsp;
                        </label>
                        <label id="isAdmin_f" class="btn btn-info active">
                            <input name="DbType" type="radio" value="1">&nbsp;&nbsp;Oracle&nbsp;&nbsp;
                        </label>
                    </div>
                    <%}%>
                    <div class="form-group">
                        <label for="<%=action%>_DataSource">数据源</label>
                        <input id="<%=action%>_DataSource" type="text" class="form-control" name="DataSource" value="<%=data.DataSource%>" placeholder="输入数据源" autofocus="autofocus" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="<%=action%>_DbName">数据库名称</label>
                        <input id="<%=action%>_DbName" type="text" class="form-control" name="DbName" value="<%=data.DbName%>" placeholder="输入数据库名称" autofocus="autofocus" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="<%=action%>_UserID">用户ID</label>
                        <input id="<%=action%>_UserID" type="text" class="form-control" name="UserID" value="<%=data.UserID%>" placeholder="输入用户ID" autofocus="autofocus" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="<%=action%>_Password">登录密码</label>
                        <input id="<%=action%>_Password" type="password" class="form-control" name="Password" value="<%=data.Password%>" placeholder="输入登录密码" autofocus="autofocus" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="<%=action%>_Remark">说明</label>
                        <input id="<%=action%>_Remark" type="text" class="form-control" name="Remark" value="<%=data.Remark%>" placeholder="输入说明" autofocus="autofocus" required="required" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">关闭</a>
                <a class="btn btn-primary" id="<%=action%>_save">保存</a>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    if (window.Database == undefined) {
        Tools.Namespace.register("window.Database");
    }
    if (window.Database.Toolbar == undefined) {
        window.Database.Toolbar = Backbone.View.extend({
            events: {
                "click a":"clickBtn"
            },
            clickBtn: function (e) {
                switch ($(e.currentTarget).attr("data-action")) {
                    case "refresh":
                        dbListView.refresh();
                        break;
                    case "add":
                        break;
                }
            }
        });
    }
    if (window.Database.DbListView == undefined) {
        window.Database.DbListView = Backbone.View.extend({
            template: _.template($("#tempDbListView").html()),
            render: function (data) {
                this.$el.html(this.template(data));
            },
            refresh: function () {
                dbList.fetch({
                    success: function (model,response,options) {
                        dbListView.render({ data: response });
                    },
                    error: function (e) {
                        alert(e.responseJSON.Message);
                    }
                });
            },
            events: {
                "click a": function (e) {

                }
            }
        });
    }
    if (window.Database.DbModel == undefined) {
        window.Database.DbModel = Backbone.Model.extend({
            defaults: {
                "ID": null,
                "DbCode": null,
                "DbType": null,
                "DataSource": null,
                "DbName": null,
                "UserID": null,
                "Password": null,
                "Remark":null
            },
            idAttribute: "ID",
            urlRoot:"/api/Database"
        });
    }
    if (window.Database.DbList == undefined) {
        window.Database.DbList = Backbone.Collection.extend({
            model: window.Database.DbModel,
            url:"/api/Database"
        });
    }

    if (window.Database.DbEditView == undefined) {
        window.Database.DbEditView = Backbone.View.extend({
            template: _.template($("#tempDbEditView").html()),
            render: function (data) {
                this.$el.html(this.template({
                    "data": data,
                    "action": "edit"
                }))
            }
            //编写到此处，需要添加add、edit函数
        });
    }
</script>

<script type="text/javascript">
    var toolbar;
    var dbListView;
    var dbList;
    $(function () {
        toolbar = new window.Database.Toolbar({
            el:"#toolbar"
        });
        dbListView = new window.Database.DbListView({
            el: "#dbListView"
        });
        dbList = new window.Database.DbList();
        dbListView.refresh();
    })
</script>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>编码</th>
            <th>类型</th>
            <th>说明</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="dbListView"></tbody>
</table>

<div class="modal fade" id="editView" />

<div class="navbar navbar-fixed-bottom">
    <div class="navbar-header">
        <div class="btn-group btn-group-lg btn-group-justified" id="toolbar">
            <a class="btn btn-default" data-action="refresh"><span class="glyphicon glyphicon-refresh"></span>刷新</a>
            <a class="btn btn-default" data-action="add"><span class="glyphicon glyphicon-plus"></span>新建</a>
        </div>
    </div>
</div> 