
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>编码</th>
            <th>类型</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody id="databaseList"></tbody>
</table>

<div class="modal fade" id="editView" />

<div id="filterView" class="modal fade" />

<div class="navbar navbar-fixed-bottom">
    <div class="navbar-header">
        <div class="btn-group btn-group-lg btn-group-justified" id="toolbar">
            <a class="btn btn-default" data-action="refresh"><span class="glyphicon glyphicon-refresh"></span>刷新</a>
            <a class="btn btn-default" data-action="add"><span class="glyphicon glyphicon-plus"></span>新建</a>
        </div>
    </div>
</div> 