<div class="list-group">
    <a class="list-group-item" href="#Goto/SystemManage"><span class="glyphicon glyphicon-cog">&nbsp;参数设置</span></a>
    <a class="list-group-item" href="#Goto/UserManage"><span class="glyphicon glyphicon-user">&nbsp;用户管理</span></a>
    <a class="list-group-item" href="#Goto/UserReport"><span class="glyphicon glyphicon-eye-open">&nbsp;权限管理</span></a>
    <a class="list-group-item" href="#Goto/DatabaseManage"><span class="glyphicon glyphicon-link">&nbsp;数据源</span></a>
    <a class="list-group-item" href="#Goto/ReportManage"><span class="glyphicon glyphicon-stats">&nbsp;报表编辑</span></a>
</div>