<div class="row">
    <div class="col-xs-4 col-sm-3">
        <a href="#Goto/SystemManage"><img class="img-rounded img-responsive" src="~/Content/image/settings-60.png" /></a><label class="text-info">参数设置</label>
    </div>
    <div class="col-xs-4 col-sm-3">
        <a href="#Goto/UserManage"><img class="img-rounded img-responsive" src="~/Content/image/user-60.png" /></a><label class="text-info">用户管理</label> 
    </div>
    <div class="col-xs-4 col-sm-3">
        <a href="#Goto/AuthorizationManage"><img class="img-rounded img-responsive" src="~/Content/image/key-60.png" /></a><label class="text-info">权限设定</label> 
    </div>
    <div class="col-xs-4 col-sm-3">
        <a href="#Goto/DatabaseManage"><img class="img-rounded img-responsive" src="~/Content/image/database-60.png" /></a><label class="text-info">数据源</label> 
    </div>
    <div class="col-xs-4 col-sm-3">
        <a href="#Goto/ReportManage"><img class="img-rounded img-responsive" src="~/Content/image/bar-chart-60.png" /></a><label class="text-info">报表编辑</label> 
    </div>
</div>